body{
    background:#F7F7F7;
}

.navbar-inverse{
    border-radius: 0px;
}

#sidebar-wrapper {
    top:51px;
    z-index: 2000;
    position: fixed;
    width: 220px;
    transition: width ease-in-out 0.5s;

    bottom:0;
    left:0;
    background: #2C3E50;
    overflow: hidden;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    margin-top: 70px;
    padding-left: 220px;
    transition: padding-left ease-in-out 0.5s;

}

#wrapper.menuDisplayed #sidebar-wrapper {
    width: 0px;
    transition: width ease-in-out 0.5s;
}

@media (max-width: 850px) {

    #sidebar-wrapper {
        width: 0px;
    }

    #wrapper.menuDisplayed #sidebar-wrapper {
        width: 220px;
        transition: width ease-in-out 0.5s;
    }

    .navbar .container-fluid {
    padding-left:18px!important;
    transition: padding-left ease-in-out 0.5s;
    }

    #wrapper.menuDisplayed .container-fluid {
    padding-left: 18px;
    transition: padding-left ease-in-out 0.5s;
    }
    #wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 220px;
    transition: padding-left ease-in-out 0.5s;
    }
    #page-content-wrapper {
    width: 100%;
    position: absolute;
    margin-top: 0px;
    padding-left: 10px;
    transition: padding-left ease-in-out 0.5s;

}
    .sidebar-tog{
        display: none;
    }

}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 10px;
    transition: padding-left ease-in-out 0.5s;
}

.login-status{
    padding: 16px 10px;
}

.logo-comp{
    padding: 8px;
}

.login-status span{
    color: #9F99A2;
}

.img-circle{
    border:3px solid white;
}

.navbar .container-fluid {

}

#wrapper.menuDisplayed .container-fluid {

}

.sidebar-nav {
    padding: 0;
    list-style: none;
}
.sidebar-toggle{
	background:none;
    outline: none;
    border:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    cursor: pointer;
    color: #b2b2b2;
    line-height: 35px;
    overflow: hidden;
    white-space: nowrap;

}

.sidebar-toggle li{
    text-decoration: none!important;
    color:#ddd;
    opacity:0.8;
    padding-left: 10px;
}

.sidebar-toggle li:hover{
    text-decoration: none!important;
    background: #374B5E;
}


.sidebar-toggle-link {
    padding: 8px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.sidebar-nav li div {
    text-decoration: none;
    color: #ddd;

}

.sidebar-nav li div:hover{
    color:white;
    transition: color ease-in 0.3s;
}

.sidebar-toggle-link:hover {
    background-color: rgb(44, 62, 80);
}

.collapse-list-border{
        border-left:5px solid #1A7AB9;
}

.sidebar-seperator{
    border-color: #3c4f63;
    margin:0px;
}

.graph-temp-rh-alerts{
    padding: 0px 10px 0px 30px!important;
}

.top_tiles{
    margin-bottom:0;
}

.top_tiles .tile h2{
    font-size:30px;
    line-height:30px;
    margin:3px 0 7px;
    font-weight:700
}

.tile-stats{
    position:relative;
    display:block;
    margin-bottom:12px;
    border:1px solid #E4E4E4;
    -webkit-border-radius:5px;
    overflow:hidden;
    padding-bottom:5px;
    -webkit-background-clip:padding-box;
    -moz-border-radius:5px;
    -moz-background-clip:padding;
    border-radius:5px;
    background:#FFF;
    transition:all .3s ease-in-out
}

.tile-stats:hover .icon i{
    animation-name:tansformAnimation;
    animation-duration:.5s;
    animation-iteration-count:1;
    color:rgba(58,58,58,.41);
    animation-timing-function:ease;
    animation-fill-mode:forwards;
    -webkit-animation-name:tansformAnimation;
    -webkit-animation-duration:.5s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-timing-function:ease;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-name:tansformAnimation;
    -moz-animation-duration:.5s;
    -moz-animation-iteration-count:1;
    -moz-animation-timing-function:ease;
    -moz-animation-fill-mode:forwards;
}

.tile-stats .icon{
    width:20px;
    height:20px;
    color:#BAB8B8;
    position:absolute;
    right:53px;
    top:35px;
    z-index:1;
}

.tile-stats .icon i{
    margin:0;
    font-size:60px;
    line-height:0;
    vertical-align:bottom;
    padding:0;
}

.tile-stats .count{
    font-size:38px;
    font-weight:700;
    line-height:1.65857;
    color: #73879C;
}

.tile-stats .count,.tile-stats h3,.tile-stats p{
    position:relative;
    margin:0 0 0 10px;
    z-index:5;
    padding:0;
}

.tile-stats h3{
    color:#BAB8B8;
}

.tile-stats p{
    margin-top:5px;
    font-size:12px;
    color:#8A9BAC;
}

.right_col{
    padding:0px 0px 0px 20px;
}

@media (max-width:991px) {

    .right_col{
        padding:10px!important
    }

}

.navbar-default{
    background-color: white;
}





#temp, #time, #rh{
    display: none;
}

.glyphicon-align-justify{
    cursor: pointer;
}

.thead-default {
    display: table-header-group;
    background-color: #ECEEEF;
}

.form-group div div input[type=number]::-webkit-inner-spin-button,
.form-group div div input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.col-sm-2 i{
    margin-top: 3px;
    cursor: pointer;
}

.modal-header{
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal-body{
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal-footer{
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa-chevron-down{
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.fa-chevron-down.rotate{
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

.parent-div>li>div{
    color: white;
}


.sidebar-chevron{
    float: right;
    margin-right: 10px;
    margin-top:10px;
}

.navbar-right{
    margin-right: 20px;
}

.notif.dropdown-container{
    max-width: 1000px;
    width: 400px;
    left:-200px;
}

.notif.dropdown-toolbar{
    padding: 15px;
}

.notif.dropdown-footer{
    background-color: #eeeeee;
    padding: 10px;
}

.user.dropdown-menu{
    width: auto;
    overflow: hidden;
}

.user.dropdown-container{
    left:-130px;
}


#logout{
    cursor: pointer;
}

.config.btn-success{
    display: none;
}

.config.btn-warning{
    display: none;
}

.header.dropdown-menu{
    width: 100%;
}

.user.dropdown-menu li a {
    width: auto;
    padding: 5px 10px;
    font-size: 14px;
}

.col-md-55{
    width:50%;
    margin-bottom:10px;
}

@media (min-width:768px){
    .col-md-55{
        width:20%;
    }
}

@media (min-width:992px){
    .col-md-55{
        width:20%;
    }
}

@media (min-width:1200px){
    .col-md-55{
        width:20%;
    }
}

.thumbnail .image{
    height:120px;
    overflow:hidden;
}

.thumbnail{
    overflow:hidden;
}

.view .tools, .view a.info{
    text-transform:uppercase;
}

.view p{
    font-style:italic;
}

.view{
    overflow:hidden;
    position:relative;
    text-align:center;
    box-shadow:1px 1px 2px #e6e6e6;
}

.dropdown-menu a, .voiceBtn{
    cursor:pointer;
}

.view .content, .view .mask{
    position:absolute;
    width:100%;
    overflow:hidden;
    top:0;
    left:0;
}

.sideways, .view .tools, .view img, .view p{
    position:relative;
}

.view img{
    display:block;
}

.view .tools{
    color:#fff;
    text-align:center;
    font-size:17px;
    padding:3px;
    background:rgba(0,0,0,.35);
    margin:43px 0 0;
}

.mask.no-caption .tools{
    margin:90px 0 0;
}

.view .tools a{
    display:inline-block;
    color:#FFF;
    font-size:18px;
    font-weight:400;
    padding:0 4px;
}

.view p{
    font-family:Georgia,seriff;
    font-size:12px;
    color:#fff;
    padding:10px 20px 20px;
    text-align:center;
}

.view a.info{
    display:inline-block;
    padding:7px 14px;
    background:#000;
    color:#fff;
    box-shadow:0 0 1px #000;
}

.view-first img{
    transition:all .2s linear;
}

.view-first .mask{
    opacity:0;
    background-color:rgba(0,0,0,.5);
    transition:all .4s ease-in-out;
}

.view-first .tools{
    transform:translateY(-100px);
    opacity:0;
    transition:all .2s ease-in-out;
}

.view-first p{
    transform:translateY(100px);
    opacity:0;
    transition:all .2s linear;
}

.view-first:hover img{
    transform:scale(1.1);
}

.view-first:hover .mask{
    opacity:1;
}

.view-first:hover .tools, .view-first:hover p{
    opacity:1;
    transform:translateY(0);
}

.view-first:hover p{
    transition-delay:.1s;
}

.caption{
    padding:9px 5px;
    background:#F7F7F7;
}

.caption p{
    margin-bottom:5px;
    text-align: center;
}

.col-md-55{
    position:relative;
    min-height:1px;
    float:left;
    padding-right:10px;
    padding-left:10px;
}

.row{
    margin-right:-10px;
    margin-left:-10px;
}

.fixed-bottom-div{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #148fff;
    border: 1px solid #cfe3dc;
    border-radius: 5px;
    padding: 5px;
    color: white;
}


form input[type="search"]{
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: 1px solid #CFE3DC;
    border-radius: 4px;
    cursor: auto;
    display: block;
    font-weight: 400;
    height: 30px;
    margin: 10px 0px;
    padding: 6px 14% 8px 10px;
    text-indent: 0;
    vertical-align: middle;
    width: 82%;
}

.search-container{
    float: right;
    width: 30%;
}

.search-form input[type="search"]{
    height: 30px;
    font-size: 14px;
    font-size: 1.4rem;
    width: 100%;
}

form button{
    position:absolute;
    top:31;
    right:27;
    background: transparent;
    border:none;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}

.searchtext.activenow{
    margin: 10px;
    margin-top: 0px;
    padding: 4px;
    font-size: 20px;
}

.project-title{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 27px;
}

.card-block{
  
    padding:20px;
    font-family: 'Rubik', sans-serif;
    color:white;
    border-radius: 4px;
    overflow: hidden;
    margin-top:0px;
    margin-bottom: 10px;
    width: 100%;
}
.card-block-image{
    position: absolute;
    top:25%;
    right:8%;
}
.card-block-content{
    width:80%;
    white-space: nowrap;
    overflow: hidden;
}
.card-block-content h6{
    font-size: 14px;
    opacity: 0.8;
}
.card-block-content h3{
    font-size: 21px;
}
.card-block-content h3 i{
    padding-right: 10px;
}
.card-block-text{
    font-weight: 300;
    font-size: 36px;
}
.bg-white {
    background-color: #fff;
}
.card {
    position: relative;
    border: .0625rem solid #e4e4e4;
    border-radius: 0;
    margin-bottom: .75rem;
}
.no-border {
    border: 0;
}
.p-a {
    padding: 1rem!important;
}
.notifications {
    min-width: 18.75rem;
    padding: 0;
    margin: 0;
    list-style: none;
}
.notifications .notifications-list {
    list-style: none;
    padding: 0;
    height: 220px;
    overflow: hidden;
}
.notifications .notifications-list li {
    border-bottom: .0625rem solid #f1f1f1;
    padding: 5px;
}
.notifications .notifications-list li a {
        text-decoration: none;
    position: relative;
    font-size: 13px;
    color: #555;
    padding: 1.25rem;
}
.notifications li a {
    font-size: .8125rem;
    padding: 0;
    display: table;
    width: 100%;
    overflow: hidden;
    line-height: 1.563rem;
}
.notifications li a{
    border-spacing: 0;
    table-layout: fixed;
}
.notifications .notification-ico, .notifications .notification-message, .notifications .time {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    float: none;
    height: 100%;
}
.notifications .notification-ico {
    width: 1.875rem;
}
.text-white {
    color: #fff;
}
.bg-success {
    background-color: #6FC080;
}
.circle-icon {
    position: relative;
    display: table;
    margin: 0;
    float: left;
    text-align: center;
    line-height: 1.875rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.circle-icon>i {
    display: table-cell;
    float: none;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    font-size: 14px;
}

.notifications .notification-message {
    padding-left: 30px;
}
.notifications .time {
    font-size: 10px;
    color: #666667;
    width: 1.5rem;
}

.dropdown-container > .dropdown-menu {
    padding: 0px;
}

.b-a-0, .no-border {
    border: 0;
}

.overflow-hidden {
    overflow: hidden;
}
.text-white {
    color: #fff;
}
.bg-warning {
    background-color: #F2B776;
}
.card {
    position: relative;
    border: .0625rem solid #e4e4e4;
    border-radius: 0;
}
.card, .card-title {
    margin-bottom: .75rem;
}
.card-block {
    padding: 1.25rem;
}
.fa-5x {
    font-size: 5em;
}
.m-a-0 {
    margin: 0!important;
}
.h5, h5 {
    font-size: 14px;
}
.text-right {
    text-align: right;
}

.circle {
    border-radius: 50%;
}
.absolute {
    position: absolute;
}
.shadow {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.bg-white {
    background-color: #fff;
}

.relative, .sortable-list li {
    position: relative;
}
.text-color {
    color: #59595A;
}
.p-b, .p-y {
    padding-bottom: 1rem!important;
}
.text-center {
    text-align: center;
}
.bt {
    bottom: 0;
}
.rt {
    right: 0;
}
.lt {
    left: 0;
}

.text-center {
    text-align: center;
}
.row-equal {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.row-equal .column {
    display: table-cell;
    vertical-align: top;
    float: none;
}
.bold, dt {
    font-weight: 700;
}
.small{
    font-size: .6875rem;
}

.bottom_tiles{
    border:0;
}
.whether-card {
    color: white;
    border: 0;
    overflow: hidden;
}
.logo-image{
    width: 100%;
    height: 70px;
    /*filter: grayscale(100%);*/
}
.nav li a{
    color:#111111!important;
}

#container{
    background:rgba(0,0,0,0.10);
    width:300px;
    border:1px solid #bbb;
    border-radius:10px;
    padding:5px;
    padding-bottom:30px;
}
        
#glass{
    background:rgba(255,255,255,0.50);
    border:1px solid #bbb;
    border-radius:10px;
    width:100%;
    height:400px;
    position:relative;
}

#water{
    background-color:#9cc6ff;
    position:absolute;
    bottom:0px;
    width:100%;
    height:0px;
    transition:all 2s ease-out;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}

.scrollstyle::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollstyle::-webkit-scrollbar{
	width: 8px;
	background-color: #F5F5F5;
}

.scrollstyle::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.whitebar::-webkit-scrollbar-thumb{
	background-color: #97BCF3;
    opacity: 0.5;
}

.whitebar::-webkit-scrollbar{
	background-color: #2C3E50;
}

.whitebar::-webkit-scrollbar-track{
	background-color: #2C3E50;
}

.overview-main{
    border:1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

.overview-table{
    background: white;
    margin-bottom: 0px;
    width: 100%;
}

.overview-table tbody tr td{
    line-height: 50px;
    padding-left: 20px;
}
.overview-table tbody tr:first-child td:first-child{
    border-left: 5px solid #ec1b5a;
}
.overview-table tbody tr:first-child td:nth-child(3){
    border-left: 5px solid #79aefe;
}
.overview-table tbody tr:nth-child(2) td:first-child{
    border-left: 5px solid #314190;
}
.overview-table tbody tr:nth-child(2) td:nth-child(3){
    border-left: 5px solid #279636;
}
.overview-table tbody tr:nth-child(3) td:first-child{
    border-left: 5px solid #ead24c;
}
.overview-table tbody tr:nth-child(3) td:nth-child(3){
    border-left: 5px solid darkviolet;
}
.overview-table tbody tr:nth-child(4) td:first-child{
    border-left: 5px solid #35acdf;
}
.overview-table tbody tr:nth-child(4) td:nth-child(3){
    border-left: 5px solid #ec1b5a;
}
.overview-table tbody tr:nth-child(5) td:first-child{
    border-left: 5px solid firebrick;
}
.overview-table tbody tr:nth-child(5) td:nth-child(3){
    border-left: 5px solid #314190;
}
.overview-title{
    text-align: center;
    width: 100%;
    background: white;
    line-height: 50px;
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
}